<div id="noselection">
    <img src="" alt="Select a task to begin">
</div>
{{$URLpathtask := path.Join .Site.Params.api.baseid .Params.table .Params.view}}
{{ $airtable := getJSON .Site.Params.api.url $URLpathtask (dict "Authorization" .Site.Params.api.key)  }}
{{$URLpathuser := path.Join .Site.Params.api.baseid "Users" "?view=Master%20View"}}
{{ $airtableuser := getJSON .Site.Params.api.url $URLpathuser (dict "Authorization" .Site.Params.api.key)  }}
{{.Scratch.Set "params" .}}

<div class="text-center">{{ .Content }}</div>
{{range $airtable.records }}
<div id="modal-container-{{.id}}" class="modal-container col-md-12 col-lg-10 col-xl-8">
  <div class="modal-back">
  {{with .fields}}
    <div class="modal">
        <div class="row">
            <div class="col-md-10">
            <h2>{{.TaskName}}</h2>
            <ul class="task-specifics">
                {{$user := $airtableuser.records}}
                {{with .Creator}}
                {{$creator:=index . 0}}
                {{range where $user "id" $creator}}
                <li class="poster">Posted by {{.fields.Name}} {{if .fields.AvatarURL}}<img src="{{.fields.AvatarURL}}" class="img-thumbnail" alt="{{.fields.Name}}'s avatar">{{end}}
                </li>
                {{end}}
                {{end}}
                <li>📍 {{.Location }}</li>
                <li>🗓 {{time.Format "Monday, Jan 2, 2006" .DateForCompletion}}</li>
            </ul>
            </div>
            <div class="col-md-4 budget">
                <h5>Task Budget</h5>
                <h3>${{.Budget}}</h3>
            </div>
        </div>
        <h3>Description of task:</h3>
        <p>{{.DescriptionOfTask}}</p>
        {{with .Attachments}}
                <img src="{{index . 0 "url"}}" width="100%">
                {{end}}
        <h2>Offers</h2>
        {{$params := $.Scratch.Get "params"}}
        {{ partial "task/offers.html" (dict "data" . "params" $params)}}
    </div>
  {{end}}
  </div>
</div>
{{end}}
<script>
let taskIds = [{{range $airtable.records }}{{.id}}, {{end}} ];
for (const taskId of taskIds){
  let modalContainer = "modal-container-" + taskId;
  let taskDetail = "task-detail-" + taskId;
  current = window.location.hash.split('#')[1];
  document.getElementById(taskDetail).onclick = function(){
      addclass(taskDetail, modalContainer)
      };
    //Grab URL location, and activate appropriate modal
  if(taskId == current){
    addclass(taskDetail, modalContainer)
    }    
};	
function addclass(taskDetail, modalContainer){
    let taskId = document.getElementById(taskDetail);
    let taskmodalID = document.getElementById(modalContainer);
    let active = document.getElementsByClassName('modal-container');
    let taskselected = document.getElementsByClassName('task-widget');
    document.getElementById('noselection').classList.add('hide');
    // iterate over all modals with class modal-container and remove active class
    for (const activeM of active){
        activeM.classList.remove('task-detail');
    };
    for (const taskSelect of taskselected){
        taskSelect.classList.remove('selected');
    };
  taskmodalID.classList.add('task-detail');
  taskId.classList.add('selected');
}

</script>