<style>

</style>

{{/*  modal or page   */}}

{{ with .Site.Params.taskData}}
    {{$url := .}}
    {{$data := getJSON $url}}
    {{ $search := $.Params.search }}
    {{/*  {{ $filtered := where $data $search "intersect" "stautus"}}  */}}
<div class="row task-wrapper">
    {{range $data }}
    <div class="card task-widget">
        <div class="card-body">
            <h2>{{.TaskName}}</h2>
            <p class="card-text task-text-block">
                <ul>
                    <li>{{.Location}}</li>
                    <li>{{.DateForCompletion}}</li>
                </ul>
                {{.DescriptionOfTask}}
            </p>
            <span class="badge bg-primary status">{{.Status}}</span>
        </div>
    <h3>Budget: ${{.Budget}}</h3>
    </div>

    {{end}}
</div>
{{end}}